.glass {
    position: relative;
    padding-top: 120px;
    width: 50%;
    margin: auto;
}
.glass__img-BG{
    width: 100%;
    height: 350px;
}
.glass__img{
    height: 45px;
    width: 150px;
    position: absolute;
    top:210px;
    right: 59px;
}
.glass .glass__content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    height:120px
}
.glass .glass__content .glass__title{
  color: Blue;
  font-weight: 400;
}
.glass .glass__content p{
    color: White;
    word-wrap: break-word;
}